<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.iritgo.eclipse.tools.preferences.PreferencePage"
            id="de.iritgo.eclipse.tools.preferences.PreferencePage"
            name="Iritgo Eclipse Tools">
      </page>
   </extension>

</plugin>
